body{
  background-color: #273EA5;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
  text-decoration: none;
}

.hero h1{
  font-size: 50px;
}

.hero p{
  font-size: 30px;
}

nav{
  background-color: #273EA5;
  color: white;
}